<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="Center" type="gamecenter.core.domain.Center"/>
        <typeAlias alias="Customer" type="gamecenter.core.domain.Customer"/>
        <typeAlias alias="CustomerWechat" type="gamecenter.core.domain.CustomerWechat"/>
        <typeAlias alias="CustomerWechatKey" type="gamecenter.core.domain.CustomerWechatKey"/>
        <typeAlias alias="Device" type="gamecenter.core.domain.Device"/>
        <typeAlias alias="Playrecord" type="gamecenter.core.domain.Playrecord"/>
        <typeAlias alias="Trade" type="gamecenter.core.domain.Trade"/>
        <typeAlias alias="User" type="gamecenter.core.domain.User"/>
        <typeAlias alias="Wechat" type="gamecenter.core.domain.Wechat"/>
        <typeAlias alias="ChargeHistory" type="gamecenter.core.domain.ChargeHistory"/>
        <typeAlias alias="PaymentHistory" type="gamecenter.core.domain.PaymentHistory"/>
    </typeAliases>
    <!--<mappers>-->
    <!--<mapper resource="mapper/AccessChannelDaoMapper.xml"/>-->
    <!--</mappers>-->
</configuration>