<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gamecenter.core.dao.CustomerWechatMapper">
  <resultMap id="BaseResultMap" type="CustomerWechat">
    <id column="customerId" jdbcType="INTEGER" property="customerid" />
    <id column="wechatId" jdbcType="INTEGER" property="wechatid" />
    <result column="openId" jdbcType="VARCHAR" property="openid" />
    <result column="subscribeBonus" jdbcType="BIT" property="subscribebonus" />
    <result column="subscribeTime" jdbcType="TIMESTAMP" property="subscribetime" />
  </resultMap>
  <sql id="Base_Column_List">
    customerId, wechatId, openId, subscribeBonus, subscribeTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="CustomerWechatKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from customer_wechat
    where customerId = #{customerid,jdbcType=INTEGER}
      and wechatId = #{wechatid,jdbcType=INTEGER}
  </select>
  <select id="selectByOpenId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from customer_wechat
    where openId = #{openid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="CustomerWechatKey">
    delete from customer_wechat
    where customerId = #{customerid,jdbcType=INTEGER}
      and wechatId = #{wechatid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByOpenId" parameterType="java.lang.String">
    delete from customer_wechat
    where openId = #{openid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="CustomerWechat">
    insert into customer_wechat (customerId, wechatId, openId, 
      subscribeBonus, subscribeTime)
    values (#{customerid,jdbcType=INTEGER}, #{wechatid,jdbcType=INTEGER}, #{openid,jdbcType=VARCHAR}, 
      #{subscribebonus,jdbcType=BIT}, #{subscribetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="CustomerWechat">
    insert into customer_wechat
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="customerid != null">
        customerId,
      </if>
      <if test="wechatid != null">
        wechatId,
      </if>
      <if test="openid != null">
        openId,
      </if>
      <if test="subscribebonus != null">
        subscribeBonus,
      </if>
      <if test="subscribetime != null">
        subscribeTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="customerid != null">
        #{customerid,jdbcType=INTEGER},
      </if>
      <if test="wechatid != null">
        #{wechatid,jdbcType=INTEGER},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="subscribebonus != null">
        #{subscribebonus,jdbcType=BIT},
      </if>
      <if test="subscribetime != null">
        #{subscribetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

    <update id="updateByPrimaryKeySelective" parameterType="CustomerWechat">
        update customer_wechat
        <set>
            <if test="openid != null">
                openId = #{openid,jdbcType=VARCHAR},
            </if>
            <if test="subscribebonus != null">
                subscribeBonus = #{subscribebonus,jdbcType=BIT},
            </if>
            <if test="subscribetime != null">
                subscribeTime = #{subscribetime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where customerId = #{customerid,jdbcType=INTEGER}
        and wechatId = #{wechatid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="CustomerWechat">
        update customer_wechat
        set openId = #{openid,jdbcType=VARCHAR},
        subscribeBonus = #{subscribebonus,jdbcType=BIT},
        subscribeTime = #{subscribetime,jdbcType=TIMESTAMP}
        where customerId = #{customerid,jdbcType=INTEGER}
        and wechatId = #{wechatid,jdbcType=INTEGER}
    </update>
</mapper>