<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gamecenter.core.dao.UserMapper">
    <resultMap id="BaseResultMap" type="User">
        <id column="userId" property="userid" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="active" property="active" jdbcType="BIT"/>
    </resultMap>
    <sql id="Base_Column_List">
    userId, name, active
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from user
        where userId = #{userid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where userId = #{userid,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="User">
        <selectKey resultType="java.lang.Integer" keyProperty="userid" order="AFTER">
            SELECT @@IDENTITY
        </selectKey>
        insert into user (name, active
        )
        values (#{name,jdbcType=VARCHAR}, #{active,jdbcType=BIT}
        )
    </insert>
    <insert id="insertSelective" parameterType="User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userid != null">
                userId,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="active != null">
                active,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userid != null">
                #{userid,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="active != null">
                #{active,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="User">
        update user
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="active != null">
                active = #{active,jdbcType=BIT},
            </if>
        </set>
        where userId = #{userid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="User">
    update user
    set name = #{name,jdbcType=VARCHAR},
      active = #{active,jdbcType=BIT}
    where userId = #{userid,jdbcType=INTEGER}
  </update>
    <!--<select id="getOperatorByOpenId" parameterType="java.lang.String" resultMap="User">-->
    <!--select  * from "user"-->
        <!--LEFT JOIN customer ON "user".userId = customer.userId-->
    <!--LEFT JOIN customer ON customer_wechat.customerId=customer.customerId-->
  <!--LEFT JOIN staff ON customer.userId=staff.userId-->
  <!--LEFT JOIN wechat on customer_wechat.wechatId = wechat.wechatId-->
  <!--where customer_wechat.openId=#{openid,jdbcType=VARCHAR}-->
      <!--AND staff.name="操作员"-->
  <!--</select>-->
</mapper>