<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gamecenter.core.dao.WechatMapper" >
  <resultMap id="BaseResultMap" type="domain.Wechat" >
    <id column="wechatId" property="wechatid" jdbcType="INTEGER" />
    <result column="channelName" property="channelname" jdbcType="VARCHAR" />
    <result column="wechatAppName" property="wechatappname" jdbcType="VARCHAR" />
    <result column="wechatAppId" property="wechatappid" jdbcType="VARCHAR" />
    <result column="wechatAppSecret" property="wechatappsecret" jdbcType="VARCHAR" />
    <result column="wechatMchId" property="wechatmchid" jdbcType="VARCHAR" />
    <result column="wechatPayKey" property="wechatpaykey" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    wechatId, channelName, wechatAppName, wechatAppId, wechatAppSecret, wechatMchId, 
    wechatPayKey
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wechat
    where wechatId = #{wechatid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wechat
    where wechatId = #{wechatid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="Wechat" >
    insert into wechat (wechatId, channelName, wechatAppName, 
      wechatAppId, wechatAppSecret, wechatMchId, 
      wechatPayKey)
    values (#{wechatid,jdbcType=INTEGER}, #{channelname,jdbcType=VARCHAR}, #{wechatappname,jdbcType=VARCHAR}, 
      #{wechatappid,jdbcType=VARCHAR}, #{wechatappsecret,jdbcType=VARCHAR}, #{wechatmchid,jdbcType=VARCHAR}, 
      #{wechatpaykey,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="Wechat" >
    insert into wechat
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wechatid != null" >
        wechatId,
      </if>
      <if test="channelname != null" >
        channelName,
      </if>
      <if test="wechatappname != null" >
        wechatAppName,
      </if>
      <if test="wechatappid != null" >
        wechatAppId,
      </if>
      <if test="wechatappsecret != null" >
        wechatAppSecret,
      </if>
      <if test="wechatmchid != null" >
        wechatMchId,
      </if>
      <if test="wechatpaykey != null" >
        wechatPayKey,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wechatid != null" >
        #{wechatid,jdbcType=INTEGER},
      </if>
      <if test="channelname != null" >
        #{channelname,jdbcType=VARCHAR},
      </if>
      <if test="wechatappname != null" >
        #{wechatappname,jdbcType=VARCHAR},
      </if>
      <if test="wechatappid != null" >
        #{wechatappid,jdbcType=VARCHAR},
      </if>
      <if test="wechatappsecret != null" >
        #{wechatappsecret,jdbcType=VARCHAR},
      </if>
      <if test="wechatmchid != null" >
        #{wechatmchid,jdbcType=VARCHAR},
      </if>
      <if test="wechatpaykey != null" >
        #{wechatpaykey,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Wechat" >
    update wechat
    <set >
      <if test="channelname != null" >
        channelName = #{channelname,jdbcType=VARCHAR},
      </if>
      <if test="wechatappname != null" >
        wechatAppName = #{wechatappname,jdbcType=VARCHAR},
      </if>
      <if test="wechatappid != null" >
        wechatAppId = #{wechatappid,jdbcType=VARCHAR},
      </if>
      <if test="wechatappsecret != null" >
        wechatAppSecret = #{wechatappsecret,jdbcType=VARCHAR},
      </if>
      <if test="wechatmchid != null" >
        wechatMchId = #{wechatmchid,jdbcType=VARCHAR},
      </if>
      <if test="wechatpaykey != null" >
        wechatPayKey = #{wechatpaykey,jdbcType=VARCHAR},
      </if>
    </set>
    where wechatId = #{wechatid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Wechat" >
    update wechat
    set channelName = #{channelname,jdbcType=VARCHAR},
      wechatAppName = #{wechatappname,jdbcType=VARCHAR},
      wechatAppId = #{wechatappid,jdbcType=VARCHAR},
      wechatAppSecret = #{wechatappsecret,jdbcType=VARCHAR},
      wechatMchId = #{wechatmchid,jdbcType=VARCHAR},
      wechatPayKey = #{wechatpaykey,jdbcType=VARCHAR}
    where wechatId = #{wechatid,jdbcType=INTEGER}
  </update>
</mapper>