<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns="http://www.springframework.org/schema/beans"
        xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <bean id="demoBean" class="gamecenter.core.beans.DemoBean">
        <property name="name" value="Cobe"/>
    </bean>

    <bean id="profileManager" class="gamecenter.core.processors.wechat.ProfileManager" scope="singleton">
        <constructor-arg>
            <map/>
        </constructor-arg>
        <property name="isHost" value="true"/>
    </bean>

    <bean id="userProfile" class="gamecenter.core.beans.UserProfile" scope="session">
        <aop:scoped-proxy/>
    </bean>

    <bean id="globalPaymentBean" class="gamecenter.core.beans.GlobalPaymentBean" scope="singleton"></bean>


    <bean id="coinTopUpService" class="gamecenter.core.services.CoinTopUpService" scope="prototype">
        <constructor-arg name="serverUrl" value="localhost"/>
    </bean>

    <bean id="youbaoPaymentService" class="gamecenter.core.services.external.YoubaoPaymentService" scope="singleton"></bean>

    <bean id="cloudServerServices" class="gamecenter.core.services.CloudServerService">
        <constructor-arg name="deviceMapper" ref="deviceMapper"/>
        <constructor-arg name="customerWechatMapper" ref="customerWechatMapper"/>
        <constructor-arg name="playrecordMapper" ref="playrecordMapper"/>
        <constructor-arg name="dbServices" ref="dbServices"/>
        <constructor-arg name="coinTopUpService" ref="coinTopUpService"/>
    </bean>

    <bean id="dbServices" class="gamecenter.core.services.db.DBServices">
        <constructor-arg name="appService" ref="appService"/>
        <constructor-arg name="customerService" ref="customerService"/>
        <constructor-arg name="deviceService" ref="deviceService"/>
        <constructor-arg name="subscribeService" ref="subscribeService"/>
        <constructor-arg name="userService" ref="userService"/>
        <constructor-arg name="chargeHistoryService" ref="chargeHistoryService"/>
        <constructor-arg name="paymentHistoryService" ref="paymentHistoryService"/>
    </bean>

    <bean id="paymentHistoryService" class="gamecenter.core.services.db.PaymentHistoryService" scope="singleton">
        <constructor-arg name="paymentHistoryMapper" ref="paymentHistoryMapper"/>
    </bean>
    <bean id="chargeHistoryService" class="gamecenter.core.services.db.ChargeHistoryService" scope="singleton">
        <constructor-arg name="chargeHistoryMapper" ref="chargeHistoryMapper"/>
        <constructor-arg name="playrecordMapper" ref="playrecordMapper"/>
    </bean>
	<bean id="subscribeService" class="gamecenter.core.services.db.SubscribeService" scope="singleton">
        <constructor-arg name="customerWechatMapper" ref="customerWechatMapper"/>
        <constructor-arg name="customerMapper" ref="customerMapper"/>
    </bean>
    <bean id="wechatJsConfigService" class="gamecenter.core.services.wechat.WechatJsConfigService" scope="singleton">
    </bean>
    <bean id="deviceService" class="gamecenter.core.services.db.DeviceService">
        <constructor-arg name="deviceMapper" ref="deviceMapper"/>
    </bean>
    <bean id="userService" class="gamecenter.core.services.db.UserService" scope="singleton">
        <constructor-arg name="customerWechatMapper" ref="customerWechatMapper"/>
        <constructor-arg name="customerMapper" ref="customerMapper"/>
        <constructor-arg name="userMapper" ref="userMapper"/>
        <constructor-arg name="wechatMapper" ref="wechatMapper"/>
        <constructor-arg name="centerMapper" ref="centerMapper"/>
    </bean>
    <bean id="customerService" class="gamecenter.core.services.db.CustomerService" scope="singleton">
        <constructor-arg name="customerWechatMapper" ref="customerWechatMapper"/>
        <constructor-arg name="customerMapper" ref="customerMapper"/>
        <constructor-arg name="chargeHistoryMapper" ref="chargeHistoryMapper"/>
    </bean>
    <bean id="appService" class="gamecenter.core.services.db.AppService" scope="singleton">
        <constructor-arg name="wechatMapper" ref="wechatMapper"/>
    </bean>
    <bean id="broadcastService" class="gamecenter.core.services.BroadcastService" scope="singleton">
        <constructor-arg name="profileManager" ref="profileManager"/>
    </bean>
</beans>