<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns="http://www.springframework.org/schema/beans"
        xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <bean id="demoBean" class="gamecenter.core.beans.DemoBean">
        <property name="name" value="Cobe"/>
    </bean>

    <bean id="profileManager" class="gamecenter.core.processors.wechat.ProfileManager" scope="singleton">
        <constructor-arg>
            <map/>
        </constructor-arg>
        <property name="isHost" value="true"/>
    </bean>

    <bean id="userProfile" class="gamecenter.core.beans.UserProfile" scope="session">
        <aop:scoped-proxy/>
    </bean>

    <bean id="globalPaymentBean" class="gamecenter.core.beans.GlobalPaymentBean" scope="singleton"></bean>

    <bean id="dbServices" class="gamecenter.core.services.db.DBServices">
        <constructor-arg name="appService" ref="appService"/>
        <constructor-arg name="customerService" ref="customerService"/>
        <constructor-arg name="deviceService" ref="deviceService"/>
        <constructor-arg name="subscribeService" ref="subscribeService"/>
        <constructor-arg name="userService" ref="userService"/>
    </bean>

	<bean id="subscribeService" class="gamecenter.core.services.db.SubscribeService">
        <constructor-arg name="customerWechatMapper" ref="customerWechatMapper"/>
        <constructor-arg name="playrecordMapper" ref="playrecordMapper"/>
        <constructor-arg name="deviceMapper" ref="deviceMapper"/>
    </bean>
    <bean id="wechatJsConfigService" class="gamecenter.core.services.wechat.WechatJsConfigService">
    </bean>
    <bean id="deviceService" class="gamecenter.core.services.db.DeviceService">
        <constructor-arg name="deviceMapper" ref="deviceMapper"/>
    </bean>
    <bean id="userService" class="gamecenter.core.services.db.UserService">
        <constructor-arg name="customerWechatMapper" ref="customerWechatMapper"/>
        <constructor-arg name="customerMapper" ref="customerMapper"/>
        <constructor-arg name="userMapper" ref="userMapper"/>
        <constructor-arg name="wechatMapper" ref="wechatMapper"/>
    </bean>
    <bean id="customerService" class="gamecenter.core.services.db.CustomerService">
        <constructor-arg name="customerWechatMapper" ref="customerWechatMapper"/>
        <constructor-arg name="customerMapper" ref="customerMapper"/>
    </bean>
    <bean id="appService" class="gamecenter.core.services.db.AppService">
        <constructor-arg name="wechatMapper" ref="wechatMapper"/>
    </bean>
</beans>