<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns="http://www.springframework.org/schema/beans"
        xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <bean id="demoBean" class="gamecenter.core.beans.DemoBean">
        <property name="name" value="Cobe"/>
    </bean>

    <bean id="profileManager" class="gamecenter.core.processors.wechat.ProfileManager" scope="singleton">
        <constructor-arg>
            <map/>
        </constructor-arg>
        <property name="isHost" value="true"/>
    </bean>

    <bean id="userProfile" class="gamecenter.core.beans.UserProfile" scope="session">
        <aop:scoped-proxy/>
    </bean>

    <bean id="globalPaymentBean" class="gamecenter.core.beans.GlobalPaymentBean" scope="singleton"></bean>

    <bean id="subscribeService" class="gamecenter.core.services.SubscribeService" scope="session">
        <aop:scoped-proxy/>
    </bean>
    <bean id="wechatJsConfigService" class="gamecenter.core.services.WechatJsConfigService">
        <aop:scoped-proxy/>
    </bean>
</beans>